@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

body {
  background: #222222;
  color: white;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: .625rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #title {
    flex-direction: column;
    line-height: 10px;

    h1{
      font-weight: 200;
    }
  }

  li {
    display: inline-block;
    margin: 10px 20px;
    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: #840dc9;
      transition: 200ms;
    }

  }
  li:nth-child(5) {
    border: 2px solid #840dc9;
    padding: 10px;
    border-radius: 25px;
  }

  li:hover:nth-child(5){
    background-color: #840dc9;
    transition: 200ms;

    a{
      color: white;
    }
  }
  
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  h2 {
    font-size: 52px;
    line-height: 10px;
    font-weight: 600;
  }

  h2:nth-child(1) {
    color: #840dc9;
  }

  p {
    font-weight: 300;
    max-width: 500px;
    line-height: 20px;
  }

  img {
    width: 580px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    
    input{
      margin-top: 1.25rem;
      height: 20px;
      padding: 15px;
      border-radius: 20px;
      border: none;
      font-size: .9375rem;
    }

    input:nth-child(3) {
      height: 50px;
      width: 50%;
      background-color: #840dc9;
      color: white;
      font-weight: bold;
    }

    input:hover:nth-child(3) {
      cursor: pointer;
      filter: brightness(0.7);
      transition: 200ms;
    }
  }
}
